OTADemo/OTAXSD/OTA_VehRetResRQ.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns="http://www.opentravel.org/OTA/2003/05" 
xmlns:xs="http://www.w3.org/2001/XMLSchema" 
targetNamespace="http://www.opentravel.org/OTA/2003/05" 
elementFormDefault="qualified" 
version="3.000" 
id="OTA2013B">

<xs:annotation>
	<xs:documentation source="Description" xml:lang="en">ALL SCHEMA FILES IN THE OPENTRAVEL ALLIANCE SPECIFICATION ARE MADE AVAILABLE ACCORDING TO THE TERMS DEFINED BY THE OPENTRAVEL LICENSE AGREEMENT AT http://www.opentravel.org/Specifications/Default.aspx.</xs:documentation>
</xs:annotation>
	<xs:include schemaLocation="OTA_VehicleCommonTypes.xsd"/>

	<xs:element name="OTA_VehRetResRQ">
		<xs:annotation>
			<xs:documentation xml:lang="en">The root tag of OTA_VehRetResRQ contains standard payload attributes found in all OpenTravel payload documents. The attribute ReqRespVersion is a positive integer value that indicates the version number requested for the response message.</xs:documentation>
		</xs:annotation>
		<xs:complexType>
			<xs:sequence>
				<xs:element name="POS" type="POS_Type">
					<xs:annotation>
						<xs:documentation xml:lang="en">Point of Sale Identification.  Identification number of the vendor that has made the vehicle availability request and agency number assigned by IATA, ARC, ESRP or TID.</xs:documentation>
					</xs:annotation>
				</xs:element>
				<xs:element name="VehRetResRQCore">
					<xs:annotation>
						<xs:documentation xml:lang="en">Identifies the common, or core, information associated with the request for the reservation of a rental vehicle.</xs:documentation>
					</xs:annotation>
					<xs:complexType>						
							<xs:sequence>
							<xs:element name="UniqueID" type="UniqueID_Type">
								<xs:annotation>
									<xs:documentation xml:lang="en">Unique identifier for a person or profile.</xs:documentation>
								</xs:annotation>
							</xs:element>
							</xs:sequence>						
					</xs:complexType>
				</xs:element>
			</xs:sequence>
			<xs:attributeGroup ref="OTA_PayloadStdAttributes"/>
			<xs:attributeGroup ref="ReqRespVersion"/>
		</xs:complexType>
	</xs:element>
</xs:schema>
